
:root{
    --backgroundCol : #f2f2f2;
    --themeCol : #c9c9c9;
    --themeActive: #ffbd86;
    --themeActiveBorder: #ff7300;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
}

h3{
    font-size: .8em;
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    font-family: Roboto, sans-serif, Helvetica, Arial;
}

main {
    display: flex;
}

aside {
    padding: 0 15px;
    width: 70%;
}

img {
    width: 500px;
}

aside .title{
    margin-bottom: 10px;
}

aside .container-themes{
    padding-top: 20px;
    position: sticky;
    top: 0;
}

aside .list-themes{
    list-style: none;
    border-left: 2px solid var(--themeCol);
    padding-left: 10px;
    margin-left: 10px;
}

aside .list-themes li{
    position: relative;
}

aside .list-themes li a{
    display: block;
    color: #5a5a5a;
    padding: 15px 10px;
    text-decoration: none;
}

aside .list-themes li.active a,
aside .list-themes li a:hover{
    border: 1px solid #ccc;
    color: #000;
    transition: .3s ease all;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% auto;
}

.info-exp{
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#content{
    width: 80%;
}

.projects-card{
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.title-skills{
    margin-right: 30px;
}

.enterprise{
    list-style: none;
}

.dashed_div{
    border: 2px dashed #ccc;
    width: 100%;
    font-size: 12px;
}

/* icons styles */

.title-dev{
    display: flex;
    align-items: center;
}

.ico{
    content: "";
    display: inline-block;
    border-radius: 20%;
    cursor: default;
}

.js-ico{
    background-image: url(../resources/javascript-logo.png);
    width: 25px;
    height: 25px;
    background-size: 25px;
    margin-left: 3px;
}

#specialPythonRstudio{
    flex-direction: column;
}

.python-ico{
    background-image: url(../resources/python-logo.png);
    width: 25px;
    height: 25px;
    background-size: 25px;
}

.rstudio-ico{
    background-image: url(../resources/r-studio-logo.png);
    width: 56px;
    height: 20px;
    background-size: 56px;
}

.docker-ico{
    background-image: url(../resources/docker-logo.png);
    width: 40px;
    height: 40px;
    background-size: 40px;
    margin-left: 3px;
    margin-top: 3px;
}

.github-ico{
    background-image: url(../resources/github-logo.png);
    width: 20px;
    height: 20px;
    background-size: 20px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.check-ico{
    background-image: url(../resources/check-square-solid.png);
    width: 20px;
    height: 20px;
    background-size: 20px;
    cursor: pointer;
}

.linkedin-ico{
    background-image: url(../resources/linkedin-logo.png);
    width: 20px;
    height: 20px;
    background-size: 20px;
    cursor: pointer;
}

/* Start media querys */

@media (max-width: 900px){
    img{
        width: 400px;
    }

    h3{
        font-size: .7em;
    }
}

@media (max-width: 700px){
    img{
        width: 300px;
    }
}

@media (max-width: 600px){
    img {
        width: 250px;
    }
    main{
        margin: 0;
    }

    .projects-card{
        width: 100%;
    }

    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }

    .skills {
        flex-wrap: wrap;
    }

    .skills div {
        flex: 50%;
    }

    #content{
        width: 100%;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 95%;
    }

    aside{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 5rem;
        padding: 0;
        margin: 0;
        background-color: #ccc;
        display: flex;
        align-items: center;
    }

    aside a{
        width: 95%;
        text-align: center;
    }

    aside .container-themes{
        padding-top: 0;
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
    }

    aside .container-themes ul{
        padding: 0;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        padding: 0;
        margin: 0;
        border: none;
    }

    aside .list-themes li{
        height: 100%;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    aside .list-themes li a{
        padding: 0;
        margin: 0;
        font-size: 9px;
        font-weight: bold;
    }

    aside .list-themes li.active a,
    aside .list-themes li a:hover{
        border: none;
        color: black;
    }

    aside .list-themes li.active,
    aside .list-themes li:hover{
        border: 1px solid black;
        color: black;
    }

    aside .title{
        display: none;
    }
}